.color-f {
	color: #fff;
}

.bg-f {
	background-color: #fff;
}

.color-888 {
	color:#808080;
}
.color-545 {
	color:#545159;
}
.color-89 {
	color:#898989;
}

.color-3 {
	color: #333;
}

.color-red {
	color: red;
}

.color-999 {
	color: #999;
}
.color-F3370F {
	color: #F3370F;
}

.color-success {
	color: $uni-color-success;
}

.bg-3 {
	background-color: #333;
}
.color-28 {
	color: #282828;
}
.color-A5 {
	color: #A5A5A5;
}
.color-OA {
	color: #0A0A0A;
}
.color-3C {
	color: #3CBDFF;
}
.bg-F9 {
	background: #F9FCFE;
}
.color-64 {
	color: #64BAFD;
}
.color-FB {
	color: #FBFEFF;
}
.color-38 {
	color: #383838;
}
.color-34 {
	color: #343434;
}
.color-22 {
	color: #222222;
}
.bg-F5 {
	background-color: #F5F5F5;
}
.color-0 {
	color: #000000;
}
.color-0B {
	color: #0B0B0B ;
}
.color-EA {
	color: #EA4952 ;
}
.bg-64 {
	background-color: #64BAFD;
}
.bg-DF{
	background-color: #DFF1FF;
}
.color-9D {
	color: #9D9D9D ;
}
.color-3B {
	color: #3B3B3B ;
}
.color-98 {
	color: #989898 ;
}
.color-9C {
	color: #9C9C9C ;
}
.color-2A {
	color: #2A2A2A ;
}
.color-C2C3 {
	color: #C2C3C9 ;
}
.color-63 {
	color: #636363 ;
}
.color-17 {
	color: #171717 ;
}
.color-90 {
	color: #909090 ;
}
.color-01 {
	color: #010101 ;
}
.color-FF {
	color: #FF0000 ;
}
.color-12 {
	color: #121212 ;
}
.color-FD2952 {
	color: #FD2952 ;
}
.color-9922 {
	color: #FF9922 ;
}

.color-05 {
	color: #050505 ;
}
.color-82 {
	color: #828282 ;
}
.color-F528 {
	color: #F5282E ;
}
.color-3C3C {
	color: #3C3C3C ;
}
.color-8c56 {
	color: #8C5626 ;
}

.color-DEB5{
	color:#DEB590 ;
}
.color-9{
	color: #999 ;
}

.color-6 {
	color: #666666 ;
}
.bg-16{
	background-color: #161616;
}
.color-CABF {
	color: #CABFB5 ;
}
.color-180A {
	color: #180A04 ;
}
.color-16 {
	color: #161616 ;
}
.color-AB {
	color: #ABABAB ;
}
.color-FE34 {
	color: #FE344B ;
}
.bg-F8{
	background-color: #F8F8F8;
}
.color-1213{
	color: #121315;
}
.color-7F83{
	color: #7F8387;
}
.color-0E11{
	color: #0E1115;
}
.bg-F1FA{
	background-color: #F1FAFF;
}
.color-A29E{
	color: #A29E99;
}
.color-3632{
	color: #36322E;
}
.color-DFF4{
	color: #DFF4FF;
}
.color-2F{
	color: #2F2F2F;
}
.color-F8FC{
	color: #F8FCFF;
}
.color-FCFE{
	color: #FCFEFF;
}
.color-FBFD{
	color: #FBFDFF;
}
.color-3CBD{
	color: #3CBDFF;
}
.color-68{
	color: #686868;
}
.color-E122{
	color: #E1222A;
}
.color-CF39{
	color: #CF3935;
}
.bg-FFF2{
	background-color: #FFF2F1;
}